.Back
{
    font-family: Broadway, Serif;
    background-color: black;
    overflow-y: hidden;
}

.Icon
{
    /*inserted image should be 200x200 */
    float: left;
    display: flex;
    border: #00006e 10px solid;
    border-radius: 5px;

    justify-content: center;

    width: 200px;
    height: 200px;
    margin:  1px;
}
#IconImage
{
    width: 200px;
    height: 200px;
}

.MainTab
{
    float: left;
    border: #00006e 10px solid;
    border-radius: 5px;

    color: #00006e;

    width: 1250px;
    height: 470px;
    margin: 1px 1px 10px 10px;

    overflow-y: scroll;
}
.TopBar
{
    float: left;
    border: #00006e 10px solid;
    border-radius: 5px;

    color: #00006e;

    width: 1250px;
    height: 200px;
    margin: 1px 1px 10px 10px;
}
.SideBar
{
    float: left;
    border: #00006e 10px solid;
    border-radius: 5px;

    color: #00006e;
    text-align: center;

    width: 200px;
    height: 470px;
    margin: 1px 1px 1px 1px;
}

#TopTitle
{
    text-align: center;
    margin: 60px;
}
.TopDesc
{
    color: darkslategray;
    text-align: center;
}

.TabButton
{
    color: darkslategray;
    text-decoration: underline darkblue;
    text-align: center;
    cursor: pointer;
    margin: 20px 5px 0px 5px;
}

#TabHolder
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.MainCTitle
{
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: center;
}

.MainDesc
{
    float: left;
    font-family: Arial, Serif;
    color: grey;
    text-align: left;
    margin-top: 20px;
    margin-left: 25px;
    width: 775px;
    height: auto;
}
#MainImage
{
    margin-top: 20px;
    margin-left: 25px;
}

.LinkText
{
    cursor: pointer;
    color: darkslategray;

    text-decoration: #00006e underline;
}
#LoadedLinkText
{
    color: grey;
    text-decoration: #00006e dotted underline;
}

.ScrollBox
{
    overflow-y: scroll;
}

#google_translate_element
{
    position: absolute;
    top: 20px;
    left: 88%;
}


