/*custom fonts*/
@font-face
{
	font-family : TitleFont;
	src : url("../Fonts/Megatech.ttf");
}
@font-face
{
	font-family : ProjectFont;
	src : url("../Fonts/StalinistOne-Regular.ttf");
}
@font-face
{
	font-family : LargeFont;
	src : url("../Fonts/Spaceport_2006.otf");
}
@font-face
{
	font-family : TextFont;
	src : url("../Fonts/PixelSmall.ttf");
}
@font-face
{
	font-family : LinkFont;
	src : url("../Fonts/Pixel.ttf");
}

/* OLD STUFF
* BORDER BLUE: #0043c9
* BOX RED: red
*/

/*main style*/
body
{
	background-color : black;

	/*block select*/
	-webkit-user-select : none;
	-ms-user-select : none;
	user-select : none;
}
h1
{
	color : white;
	font-family : "TitleFont";
	text-align : center;
}
h2
{
	color : white;
	font-family : "TitleFont";
	text-align : center;
}
h3
{
	font-family : "LargeFont";
}

.noSpaceText
{
	margin : 3px;
}

/*links*/
.link
{
	font-family : "LinkFont";
}
a 
{
	color : white;
}
a:hover
{
	color : #5efc32;
}

/*info page*/
.infoIcon
{
	width : 200px;
	height : 200px;
	padding : 1px;
}
.infoPlayButton
{
	font-family : "LinkFont";
}

/*game box layout*/
.gameBox
{
	display: grid;
	grid-template-areas:
		"gameIcon gameTitle playButton";
	grid-template-columns: 1fr 3fr 1fr;
	
	border : 3px solid green;
	border-radius : 3px;
	margin : 10px;
	height : 110px;

	text-align: center;
}
.gameBox > .gameIcon
{
	padding : 5px;
	height : 100px;
	width : 100px;
}
.gameBox > .gameTitle
{
	margin-top : 5px;
}
.gameBox > .playButton
{
	font-family : "LinkFont";
	margin-top : 40px;
	float : right;
}
.gameDesc
{
	text-align : center;
	margin-top : -40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*project box layout*/
.projectBox
{
	float: left;
	display : grid;
	grid-template-areas:
		"title"
		"description"
		"Status"
		"infoButton";
	grid-template-rows: 1fr 4fr 0.5fr 0.5fr;

	border : 3px solid green;
	border-radius : 3px;
	padding : 3px;
	margin : 10px;
	height : 400px;
	width : 31.4%;

	text-align: center;
}
.projectBox > .title
{
	font-family : "ProjectFont";
	font-size : 40px;
	margin-top : 0px;
}
.projectBox > .description
{
	
	font-family : "TextFont";
}
.projectBox > .infoButton
{
	font-family : "LinkFont";
}

/*project page layout*/
.projectInfoBox
{
	border: 5px white double;
	float : left;
	margin : 5px;
	padding: 5px;
	width: 76%;
}

.projectImageBox
{
	border: 5px white double;
	float : left;
	margin: 5px;
	padding: 5px;
	width: 20%;
}
.projectImage 
{
	margin-bottom: 5px;
	width: 100%;
	justify-self: center;
	float: left;
}

/*UI layout*/
.grid
{
	display: grid;
	grid-template-areas:
		"icon title"
		"menu content";
	grid-template-columns: 1fr 9fr;
	gap: 10px;
	background-color: black;
}

.grid > div
{
	border : 5px solid white;
	border-radius : 7px; 
	background-color: black;
	color : white;
}
.grid > div.icon
{
	/*background-image : url("../Img/Ico/SinCut.jpg"); ICON*/
	padding : 100px;
}
.grid > div.title
{
	grid-area : title;
	text-align : center;
}
.grid > div.menu
{
	grid-area : menu;
	text-align : center;
	height : 40vh;
}
.grid > div.content
{
	grid-area : content;
	padding: 3px;
	border : 5px solid white
}